html {
  font-family: 'Roboto';
}
header {
  margin-top: 0.5rem;
  height: 2.5rem;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 17rem);
  gap: 0.5rem;
}
h1 {
  font-size: 1.5rem;
  margin: 0;
}
.list {
  gap: 0.5rem;
  border-radius: 0.2rem;
  background: #ebecf0;
}
.list h2 {
  margin: 0.5rem 1rem;
  font-weight: 500;
  font-size: 16px;
  color: #172b4d;
}
.list > div {
  display: grid;
  gap: 0.4rem;
  padding-bottom: 0.4rem;
}
.task {
  border-radius: 0.2rem;
  background-color: #fff;
  margin: 0 0.4rem;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  font-size: 14px;
}
.task > h4 {
  margin: 0;
  padding: 0.4rem;
  font-weight: 400;
}
.task > p {
  margin: 0;
  padding: 0.4rem;
  color: rgb(48, 47, 47);
}
